* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#carouselExampleFade {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: min-content;
  background-color: #d90368;
  text-align: center;
  padding: 2vh;
}

#btn-carousel {
  text-decoration: none;
  color: white;
}

#toolbar {
  min-height: 10vh;
  display: flex;
  align-items: center;
  padding: 2vh;
}

.form-check-input,
.form-check-label {
  margin-left: 1vw;
}
