* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#carouselExampleFade {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: min-content;
  background-color: #d90368;
  text-align: center;
  padding: 2vh;
}

.btn-carousel {
  text-decoration: none;
  color: white;
}

main{
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 6vw;
  min-height: 100vh;
}


#mainDetails{
  display: flex;
  justify-content: center;
  padding: 8vh;
}

main>form{
  padding-top: 2vh;
}

#toolbar {
  min-height: 10vh;
  display: flex;
  align-items: center;
}

.form-check-input,
.form-check-label {
  margin-left: 1vw;
}

.card-footer{
  display: flex;
  justify-content: space-between;
  align-content: center;
  
}

.text-muted{
  padding: 4px 8px;
}

.nav-link:hover{
  color: black;
  font-weight: bolder;
  transform: scale(101%);
}

table{
  margin-top: 4vh;
}

.card-img-top{
  width: 100%;
  height: 50%;
}


